{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true,
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "es6": true
    }
  },
  "rules": {
    "indent": [
      "warn",
      2
    ],
    "quotes": [
      "warn",
      "double"
    ],
    "semi": [
      "warn",
      "always"
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
